* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #323232;
  overflow: hidden;
}

.categories {
  float: left;
  border: 1px solid #424242;
  background-color: #525252;
  width: 30%;
  height: 100%;
}

.categories div {
  width: 100%;
}

.categories div input {
  display: none;
}

.categories div label {
  display: block;
  background-color: inherit;
  color: whitesmoke;
  padding: 22px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.categories div label:hover {
  background-color: #ddd;
  color: black;
}

.categories div input:checked + label {
  background-color: #ccc;
  color: black;
}

.app-holder {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #000000;
}

.window-box {
  display: flex;
  flex-direction: column;
  background-color: #424242;
  position: absolute;
}

.window-content {
  width: 100%;
  flex-grow: 1;
}

.window-box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.btn {
  flex-grow: 0.03;
  background-color: firebrick;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.btn:focus,
.btn:active {
  opacity: 0.75;
}

.title {
  padding-top: 0.5rem;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  user-select: none;
  -moz-user-select: none;
}

.message {
  z-index: -1;
  position: absolute;
  font-size: xx-large;
  width: 100%;
  margin-top: 15%;
  color: whitesmoke;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.menubar {
  width: 100%;
  background-color: #222222;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: fixed;
}

[draggable="true"] {
  cursor: move;
}

.resize {
  resize: both;
  overflow: scroll;
  scrollbar-color: #929292 #424242;
}

.menu-drawer {
  top: 50px;
  z-index: 9999;
  position: absolute;
  float: left;
  height: 600px;
  width: 500px;
  border: 1px solid black;
  min-width: 500px;
  min-height: 600px;
  background-color: #222222;
}

.menu {
  background-color: #e2e2e2;
  border: none;
  color: black;
  margin-left: 5px;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.launcher {
  width: 100%;
  background-color: #202f50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1rem;
}

.launcher:hover {
  background-color: #4c74af;
  color: white;
}

.hide {
  display: none;
}
