.window {
  display: grid;
  grid-template-columns: minmax(100px, auto);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.hide {
  display: none;
}

.folder {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../../images/icons/folder.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 1em;
}

.file {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-image: url(../../images/icons/file.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.folder-container {
  display: inline-block;
  cursor: pointer;
}

dd {
  display: block;
  text-align: center;
  margin-left: 1em;
  color: whitesmoke;
  font-weight: bolder;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #323232;
  flex-wrap: wrap;
  margin: -0.5em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.header .app-name {
  color: #ffffff;
  font-weight: bold;
  background-color: #727272;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-left: 1em;
  flex-grow: 0.9;
}

.header .buttons .button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.header .buttons .button:hover:enabled,
.header .buttons .button:focus:enabled,
.header .buttons .button:active:enabled {
  opacity: 0.75;
}

.header .buttons .button:disabled {
  background-color: gray;
  cursor: default;
}

.placeholder {
  margin: 0 auto;
  width: 100%;
  color: tomato;
  text-align: center;
}
